@model Lab4_ef.Models.Employee

@{
    ViewData["Title"] = "AddProject";
}

<h2>Add</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <select class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
          
        </form>
    </div>
</div>

<div>
    <form asp-action="AddProject">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Add" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}